* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #12121a);
  color: #fff;
}

/* ===== BANDEAU DE PRÉSENTATION ===== */
.banner {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

/* Image bandeau */
.banner-bg {
  width: 100%;
  height:100%;
  object-fit: cover;
  display: block;
}

/* Logo en haut à gauche */
.banner-logo {
  --- position: absolute;
  top: 16px;
  left: 25px;
  height: 150px;
}

.playlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding: 20px 40px 60px;
  max-width: 1200px;
  margin: auto;
}

.track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.track:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.track img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
  min-height: 44px;
}

.track button {
  background: whitesmoke;
  border: none;
  color: black;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s, transform 0.2s;
}

.track button:hover {
  background: #ff2f55;
  transform: scale(1.05);
}

audio {
  display: none;
}

.track .title {
  margin: 8px 0 12px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.9;
}

/* Titre */
.track .title {
  margin: 8px 0 10px;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.7;
  transition: color 0.3s, opacity 0.3s;
}

/* Titre actif */
.track.playing .title {
  color: #ff2f55;
  opacity: 1;
}

/* Barre de progression */
.progress {
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 12px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #ff2f55;
  transition: width 0.1s linear;
}

.progress {
  cursor: pointer;
}

@media (max-width: 600px) {
  .playlist {
    padding: 20px;
  }

  h1 {
    font-size: 18px;
  }

  .track {
    padding: 12px;
  }

  .track button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .banner {
    height: 180px;
  }

  .banner-logo {
    height: 48px;
    top: 12px;
    left: 12px;
  }
}



